<!DOCTYPE html>
<html>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
<head>
</head>
<body>
<div class="container">
  <div class="row">
     <div class="col-xs-12" id="resHead">
         <h3>The Resume Of</h3>
         <h1>Nicolas Zysermann</h1>
         <img width=100px class="img-responsive"  src="{{url_for('static', filename='photo.png')}}" />
     </div>
   </div>
  <div class="row">
    <div class="col-xs-12 col-md-6" id="workExp">
      <h1 class="heading">About me !</h1>
      <p>
        Solid organizational skills working in a cross-environment B2B2C start-up. Inquisitive mind interested in a large set of fields (finance, new technologies and health sectors). Strong analytical abilities and data driven spirit. Experience working in a agile methodology. Collaborating and conflict-resolving personality.

      </p>

      <h1 class="heading">Work Experience</h1>
        <h2 class="title">Company</h2>
          <h3 class="subtitle">Position</h3>
            <h4 class="date">From: MM-YYYY - To: MM-YYYY/h4>
              <p>
                Responsibilities
              </p>
    
    </div>
    <div class="col-xs-12 col-md-6" id="skillEdu">
      <h1 class="heading">Skillset</h1>

        <h2 class="title">Type</h2>
        <p>
          Detailed description!
        </p>
      <h1 class="heading">Education</h1>
        <h2 class="title">Name of school</h2>
          <h3 class="subtitle">Type of education!</h3>
        
    </div>
    <div class="col-xs-12 col-md-6" id="skillEdu">
      <h1 class="heading">Languages</h1>
        <h2 class="title">English - Fluent</h2>
        <h2 class="title">Spanish - Intermediate</h2>
    </div>
    <div class="col-xs-12 col-md-6" id="skillEdu">
      <h1 class="heading">Achievements</h1>
        <h2 class="title">Event - Year - Achievement</h2>
    </div>
  </div>
  <div class="row">
  <div class="contact col-xs-12">
    <!-- <img width=100px class="img-responsive"  src="{{url_for('static', filename='letter.png')}}" /> -->
   <h1 class="title">Contact</h1>
      <p class="subtitle">
          France<br/>
          75000, Paris<br />
        <a href="tel:phone">06123456789</a><br />
        <a target="_blank" href="https://twitter.com/handle">Twitter</a><br />
        <a target="_blank" href="https://github.com/handle">GitHub</a><br />
        </div>
</div>
</div>

</body>

</html>

